body{
    margin: 0px;
    padding: 0px;
}
ul
{
    list-style: none;
}
a:hover{
    text-decoration: none;
    cursor: pointer;
}
.card {
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
    height: 500px;
    width: 530px;
}
.read {
    color: #004fff;
    font-size: 20px;
    font-weight: bold;
    left: 16px;
}
.img-hover-zoom {
    overflow: hidden;
  }
  .img-hover-zoom img {
    transition: transform .5s ease;
  }
  .img-hover-zoom:hover img {
    transform: scale(1.1);
    cursor: pointer;
  }
  .Grammar a:hover
  {
      color: #004ffe;
  }
  .container
  {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin: auto;
  }
  .icon
  {
      display: inline-block;
      font-size:275%;
      float: right;
      margin-top: -58px;
  }
.carousel-control-prev,
.carousel-control-next
{
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    border-radius: 50%;
}
.carousel-control-prev
{
    left: 7%;
    top: 34%;
}
.carousel-control-next
{
    right: 5%;
}
.craousel-inner
{
    padding: 0px;
}
  


